{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi profi{% endblock title %}

{% block content %}

    <h2>Xush kelibsiz, {{ user.username }}</h2>
    <label>Username:</label><input value="{{ user.username }}" readonly placeholder="Kiritilmagan"><br>
    <label>Name:</label><input value="{{ user.first_name }}" readonly placeholder="Kiritilmagan"><br>
    <label>Last name:</label><input value="{{ user.last_name }}" readonly placeholder="Kiritilmagan"><br>
    <label>email:</label><input value="{{ user.email }}" readonly placeholder="Kiritilmagan"><br>
    <h2><a href="">Changed Password</a></h2>

{% endblock content %}