{%  extends 'news/base.html' %}

{% block title %}{{ news.title }}{% endblock title %}

{%  block content %}
    <div>
        <h2>{{ news.title }}</h2>
        <h4>{{ news.publish_time }}</h4>
        <div>
            <img src="{{ news.image.url }}">
            <p>{{ news.body }}</p>
        </div>

    </div>
    <div class="card-footer text-center">
        <a href="{% url 'news_edit_page' news.slug %}">Tahrirlash</a> |
        <a href="{% url 'news_delete_page' news.slug %}">O'chirish</a>
    </div>


{% endblock content %}